<!--
  Це в'юха
  Вони створюються екшену в в контролері, і мають лежати у
  папці app/views/назва_ресурсу/ім'я_екшену.html.erb

  Попередньо в екшені ми призначили @users і тепер можемо до нього звертатися

  Для цього в нас є ця пристався .erb, що називається erb хд
  В чому її суть?

  За допомогою даного синтаксису ми зможемо писати рубі код всередині в'юхі,
  і ця ця хуйня поверне ніхуя, але код виконає

  <% Рубі код %>

  За допомогою даного синтаксису( там = з'явилося )ми зможемо писати рубі код всередині в'юхі,
  і ця ця хуйня поверне результат  обчислення коду

  <%= Рубі код %>


  В данному випадку ми скористалися методом each для масису юзерів @users, ось як цей код виглядав би не в в'юсі

  1.@users.each |do|
  2.  "<p>User:" + user.name "</p>"
  3.end

  Для строчки 1 та 3 ми заюзали перший варіант(без =), бо нам нахуй здалося, воно всерівно нічого не зарендерить
  Для строчки 2 ми заюзали другій варінт(з =), а то код свередині нічого не вернув би і на виході ми отримали б <p>User:</p> для кожного юзера

  P.S данний коментар все херить. Якщо хочете побачити результат то стріть його.
-->
<% @users.each do |user| %>
 <p>User:<%= user.name %> </p>
<% end %>
